.editor-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.head-container {
    display: flex;
    align-items: stretch;
}

.work-container {
    border: 4px solid #075287;
    height: 100%;
    width: 100%;
    
    overflow-y: auto;
    background-color: #dae1e5;
}


.menu-container {
    margin-left: auto;

    display: flex;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.4%;
    background-color: #075287;
    border-radius: 0vw 0vw 0 0;

    width: fit-content;
}

.menu-button {
    background-color: #075287;
    color: #dae1e5;
    padding: 1%;
    width: fit-content;
    font-size: 1.5vw;
}

.active-mod {
    display: block;
}

.deactive-mod {
    display: none !important;
}

/* HOME  */

.home-container {
    display: flex;
    flex-direction: column;
}

.home-title {
    color: black;
    font-size: 3vw;
    text-align: center;
}

.home-content {
    margin-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    color: black;
}

.home-text {
    text-align: left;
    font-size: 1.1vw;
}

.home-logo {
    width: 100%;
    height: 100%;
}

/* ===== */

/* UTILS */

.work-edit-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: 100%;
    width: 100%;

    overflow-y: auto;
}

.input-container {
    background-color: #075287;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 3px solid gray;
    /* padding-left: 1.5%; */
}

.input-title {
    color: #dae1e5;
    font-size: 2.5vw;
    margin: 0 auto;
}

.input-text-form {
    margin-left: 2%;
    font-size: 1.3vw;
    text-align: center;
    /* margin-bottom: auto; */
}

.save-button {
    margin-top: 5%;
    /* margin-top: auto; */
    /* margin-right: auto; */
    padding: 2%;
    /* width: fit-content; */
    font-size: 1.5vw;
    background-color: #dae1e5;
    color: #0b80d4;
    cursor: pointer;
}

.content-block

/* ===== */

/* CONSOLE */

.console-container {
    margin-top: auto;
    width: 100%;
    height: 16vh;
    max-height: 100%;

    flex-shrink: 0;

    /* border: 1px solid black; */
}

.console {
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;
    margin: 0;
    height: 100%;
    width: 100%;
    border: 4px solid #075287;
    background-color: black;
    list-style-type: none; 
    overflow-y: auto; 
}

.console-text-error {
    color: red;
    font-size: 20px;
}

.console-text {
    color: white;
    font-size: 20px;
}

.console-text-done {
    color: green;
    font-size: 20px;
}

/* ===== */

/* SOIL */

.soil-form-container {
    /* margin-top: 7%; */
    margin: 7% auto;
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.soil-input-container {
    display: flex;
    padding: 1%;
    width: 100%;
    /* justify-content: center;  */
}

.soil-input-param-name {
    color: #dae1e5;
    font-size: 1.3vw;
}

.soil-info-container {
    display: flex;
    flex-direction: column;
}

.soil-info-text {
    font-size: 1.2vw;
    color: black;
    padding: 2%;
    text-align: center;
}

.soil-logo {
    height: 100%;
    object-fit: contain;
}


/* Tree */

.input-table {
    background-color: #dae1e5;
    color: black;
    table-layout: fixed;
    width: 100%;
    font-size: 1vw;
    text-align: center;
}

.input-table td:last-child {
    position: relative;
    height: 100%;
}

.param-name-table {
    width: 20%;
}

.param-info-table {
    width: 20%;
}

.param-value-table {
    width: 60%;
}

.input-table-text {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 1vw;
}

.option-table {
    text-align: center;
}

.tree-save-button {
    margin-top: 0;
}

/* ====== */

/* ROOT */

.root-work-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.root-input-container {
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    flex-direction: column;
}

.soil-select-container {
    margin-top: 1%;
}

.select-root-container {
    overflow-y: auto;
    width: 100%;
    border: 0.2vw solid gray;
    background-color: #a5b9cc;  
    display: flex;
    flex-direction: column;
    height: 25vh;
}

.select-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.select-name {
    text-align: left;
    border: 0.2vw solid gray;
    color: #dae1e5;
    font-size: 1.2vw;
    background-color: #075287;
    padding-left: 0.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%
}

.select-zone {
    padding: 1%;
    /* display: flex; */
    display: none;
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 10%;
    width: 100%;
    height: 25vh;
}

.select-tree-container {
    height: 70%;
    /* width: fit-content; */
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
    background-color: #075287;
    gap: 1%;
    border-radius: 1vw;
}

.tree-img-container {
    background-color: #075287;
    height: 80%;
    width: 100%;
}

.tree-img {
    height: 100%;
    width: auto;
}

.tree-name {
    width: 100%;
    color: #dae1e5;
    margin-top: auto;
    font-size: 1.2vw;
    font-weight: bold;
    text-align: center;
    /* border: 0.2vw solid gray; */
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ .select-zone {
    display: flex;
    padding: 1%;
    border: 1px solid black;
}

.soil-c {
    font-size: 1.2vw;
    margin-top: auto;
    color: #dae1da;
}