.calculator-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    height: 100%;
    overflow: hidden;
}

.left-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.calculate-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100%;
}

.calculate-name-mod {
    font-size: 30px;
    padding: 2% 5% 3% 2%;
    width: fit-content;
    background-color: #075287;
    color: #dae1e5;
}

.mod-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 4px solid #075287;
    overflow-y: auto;
}

.mod-button-container {
    padding: 5%;
    background-color: #075287;
    color: #dae1e5;
    font-size: 25px;
    text-align: center;
}

.formuls-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.formula-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.formula-container:has(input[type="radio"]:checked) {
    height: fit-content; 
    /* flex: 0 0 60%;  */
}

.formula-button {
    /* display: block; */
    font-size: 25px;
    padding: 1% 4% 1% 1%;
    background: #075287;
    color: #dae1e5;
    cursor: pointer;
    width: fit-content;
    border: 2px solid gray;

    clip-path: polygon(0% 0%, 80% 0%, 100% 50%, 80% 100%, 50% 100%, 20% 100%, 0% 100%);
}

.formula-content {
    width: 80%;
    max-width: 80%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease-out;
    background: #dae1e5;
    border-radius: 10px;

    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;

}

.table-container {
    display: flex;
    gap: 10%;
}

.bottom-container {
    display: flex;
    margin-top: auto;
    height: 100%;
}

.table {
    width: 40%;
    color: black;
    text-align: center;
    /* margin-left: auto; */
}

.info-text {
    font-size: 15px;
    color: black;
    margin-top: 1%;
}

.calculate-button {
    margin-left: auto;
    margin-top: auto;

    background-color: #075287;
    color: #dae1e5;
    font-size: 30px;
    padding: 1%;
    border-radius: 15px;
    cursor: pointer;
}

.input-value {
    width: 30%;
    text-align: center;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked ~ .formula-content {
    padding: 1%;
    max-height: 100%;
    height: 100%;
    border: 1px solid black;
}

.work-container {
    border: 4px solid #075287;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}

.info-container {
    border: 4px solid #075287;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}

.content-block 

.active-mod {
    display: block;
}

.deactive-mod {
    display: none !important;
}

/* .console-container {
    margin-top: auto;
    width: 100%;
    height: 16vh;
    max-height: 100%;

    flex-shrink: 0;
}

.console {
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;
    margin: 0;
    height: 100%;
    width: 100%;
    border: 4px solid #075287;
    background-color: black;
    list-style-type: none; 
    overflow-y: auto; 
}

.console-text-error {
    color: red;
    font-size: 20px;
}

.console-text {
    color: white;
    font-size: 20px;
}

.console-text-done {
    color: green;
    font-size: 20px;
}
*/

.formula-info-container {
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    background-color: #dae1e5;
    border: 2px solid black;

    width: 100%;
    /* height: fit-content; */
    min-height: 20%; 
}

.formula-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.calculation-formula-title {
    margin: 0 auto;
    color: black;
    font-size: 20px;
}

.calculation-formula {
    margin: 0 auto;
    color: black;
    font-size: 20px;
}

.description-formula {
    color: black;
    padding: 2%;
}