.index-container {
    /* display: grid;
    grid-template-columns: 3fr 1fr; */

    display: flex;
    flex-direction: column;

    width: 100%;
    gap: 5%;
    overflow-y: auto;
    
}

.description-text {
    text-align: center;
    font-size: 1vw;
    /* max-width: 80%; */
    word-wrap: break-word; 

    margin-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

.logo-container {
   display: flex;
   place-items: center; 
   place-content: center;
}

.preview {
    background-color: transparent;
    /* margin-top: 30%; */
    /* margin-right: 50%; */
    margin: 0 auto;

    /* margin-right: auto; */
    /* margin-left: auto; */
    /* margin: auto; */
    /* margin-right: auto; */
    height: 25vw;
}

.autors {
    margin-top: auto;
    padding-bottom: 1%;

    text-align: center;
    font-size: 1vw;
}