.simulator-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 100%;
}

.setting-container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    width: fit-content;

    gap: 0;
}

.button-container {
    position: relative; 
    width: 100%;

    padding: 0;
    /* border: 5px solid red; */
}

.setting-button {
    background-color: #075287;
    color: #dae1e5;
    font-size: 1.2vw;
    text-align: left; 
    white-space: nowrap; 

    border: none;
    cursor: pointer;
    width: 100%;
    padding: 7% 10px 7% 2%; 

}

.drop-setting {
    top: 100%;  
    position: absolute;
    font-size: 1.2vw;
    padding: 2%;
    width: 100%; 
    /* padding-right: 6%;; */
    display: none;
    color: #dae1e5;
    background-color: #075287;
    z-index: 9999;
    padding: 7% 10px 7% 2%; 
}

.drop-setting a {
    font-size: 1.2vw;
    color: #dae1e5;
    padding: 1% 5%;
    text-decoration: none;
    display: block;
    border-top: 1px solid rgba(255,255,255,0.2);
    padding: 7% 10px 7% 2%; 
}

.setting-button:hover + .drop-setting,
.drop-setting:hover {
    display: block;
}

/* LEFT COLUMN */

.left-column {
    width: 100%;
    height: 100%;

    align-self: end;

    border: 3px solid #075287;

    display: flex;
    flex-direction: column;
}

.simulator-control-container {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr 3fr; */
}

.slider-container {
    display: flex;
    /* padding-top: 160%; */
    height: 100%;
    width: 100%;
    flex-direction: column;

    align-items: flex-start;
}

.wind-slider {
    /* left: -4.5vw; */
    /* left: -100%; */
    /* transform: rotate(-90deg) translateY(-660%); */
    width: 75%;
}

.slider-label {
    font-size: 1vw;
    padding-left: 1%;
    padding-top: 2%;
    color: #075287
}

.wind-speed-value {
    font-size: 1vw;
    display: inline-block;
    margin-top: 2%;
    margin-bottom: 2%; 
    margin-left: 1%;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    border: 3px solid gray;
    background-color: #075287;
    color: #dae1e5;
}

.contor-buttons-container {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    gap: 15%;
    align-items: flex-start;
}

.control-button-field {
    width: 100%;
    padding: 1%;

    font-size: 1.1vw;

    border: 3px solid gray;
    background-color: #075287;

    color: #dadada;

    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr;
    /* display: flex;
    align-items: flex-start; */
}

.button-icon {
    width: 1.4vw;
    height: 2.2vh;
    display: block;
}

.button {
    margin-left: auto;
    width: fit-content;
    background-color: transparent;
    cursor: pointer;
}


.circle-on-off {
    margin: auto;
    width: 1.0vw;
    height: 2.0vh;
    border: 1px solid black;
    border-radius: 50%;
    background: red;
}

.console-container {
    margin-top: auto;
    width: 100%;
    height: 16vh;
    max-height: 100%;

    /* border: 1px solid black; */
}

/* .console {
    padding-left: 2%;
    padding-top: 1%;
    padding-right: 1%;
    margin: 0;
    height: 100%;
    width: 100%;
    border: 4px solid #075287;
    background-color: black;
    list-style-type: none; 
    overflow-y: auto; 
}

.console-text-error {
    color: red;
    font-size: 1.2vw;
}

.console-text {
    color: white;
    font-size: 1.2vw;
}

.console-text-done {
    color: green;
    font-size: 1.2vw;
}
*/

/* RIGHT COLUMN */

.right-column {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    /* grid-template-rows: 2fr 3fr; */

    border: 3px solid #075287;
}

.plot-container {
    width: 25vw;
    height: 32vh;
    border: 1px solid black;
    background-color: #dae1e5;

    object-fit: fill; 

}

.plot {
    flex: 1;
    font-size: 1.5vw;

    margin: 0;
    padding: 0;

    height: 100%;
    width: 100%;
    border: 1px solid black;
}

.data-container {
    margin-top: 0;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 1%;

    overflow: hidden
}

.values-container {
    display: flex;
    flex-direction: column;

    border: 1px solid black;
    background-color: #075287;
}

.name-values {
    color: #dae1e5;
    font-size: 1.7vw;
    /* font-size: 15px; */

    margin-left: auto;
    margin-right: auto;
}

.value {
    font-size: 15px;
    color: #dae1e5;
    font-size: 1.8vh;

    padding-left: 5%;
    padding-right: 3%;
    border-bottom: 1px solid #dae1e5;
}

/* MIDDLE COLUMN */

.middle-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    background-color: #7fc4f5;
    border: 3px solid #075287;
    overflow: hidden;
}

.ground-container {
    /* display: flex; */
    /* flex-direction: column; */
    display: grid;
    grid-template-rows: 1fr 4fr;
    position: relative;

    margin-top: auto;

    height: 10%;
    width: 100%;

    border: 1px solid black;
}

.set-tree-container {
    display: grid;
    grid-template-columns: 3f 1f;
}

.left-column {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
}

.soil {
    position: relative;
    bottom: 0;
    height: 100%;
    width: 100%;

    background-color: #2e220b;

    display: flex;
}

.name-soil {
    position: absolute;
    left: 2%;
    /* margin-left: 2%; */
    margin-top: 1%;

    color: #1ca36b;
    font-size: 1.3vw;
}

.name-root {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    font-size: 1vw;
    margin-top: 2%;

    color: #dae1e5;
    text-align: center;
}

.grass {
    width: 100%;
    height: 100%;
    background-color: #12b836;
}

.work-container {
    position: relative;
    height: 75%;
    /* display: grid; */
    /* grid-template-columns: 1fr 3fr; */

    /* overflow: hidden; */
}

.vectors-container {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    /* margin-top: 20%; */
    /* margin-left: 2%; */
    position: absolute;
    top: 10vh;
}

.vector-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    
    color: blue;
}

.vector-value {
    font-size: 1.4vw;
}

.vector{
    margin-top: -5%;
    width: 100%;
    height: 4vh;
}

.vector.reverse-vector  {
    transform: scaleX(-1);
}

.tree-work-container {
    position: absolute;
    /* left: 16vw; */
    bottom: 0; 
    height: 55vh;
    width: 100%;
    /* border: 1px solid blue; */
}

.tree-container {
    /* height: 100%; */
    /* border: 1px solid black; */
    /* position: relative; */
    position: relative;
    
    /* left: 40%; */
    /* right: 50%; */
    /* top: 10;  */

    transform-origin: 50% bottom;
    transform: rotate(0deg);
    /* border: 1px solid black; */

    z-index: 1;
    height: 100%;
    width: 100%;

    /* border: 1px solid black; */

    /* position: relative; */
}

.tree {
    position: absolute;
    /* height: 55vh; */
    /* height: 100%; */
    /* width: 100%; */
    height: 100%;
    width: auto;
    /* left: 9%; */
    /* border: 1px solid red; */
    /* left: 34%; */
    /* left: 15.5vw; */

    left: 50%;
    transform: translateX(-41%);
    
    bottom: 0;
    /* border: 1px solid black; */
}

.soil-moment-verctor {
    color: red;
    position: absolute;
    /* position: absolute; */
    bottom: 0;
    left: 52%;
}

.weight-moment-vector {
    color: red;
    position: absolute;
    bottom: 25%;
    right: 47%;
}

.wind-moment-vector {
    color: blue;
    position: absolute;
    bottom: 0;
    right: 47%;
    /* bottom: 0; */
    /* left: -20%; */
    /* left: -15%; */
}


.angle-container {
    position: absolute;
    left: 50%;

    width: 5%;
    top: 0;
    bottom: 0;
    height: 100%;

    display: flex;

}

.vertical-normal {
    position: absolute;
    width: 10%;
    height: 87%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    z-index: 2;

    border: 0.5% solid gray;
    background-color: gray;
}

.angle-value {
    position: absolute;
    font-size: 1.2vw;
    color: green;

    top: 8%;
    left: 50%;
    transform: translateX(-50%);
}

.simulation-values-container {
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    height: 15%;
}

.simulation-value {
    color: green;
    font-weight: bold;
    font-size: 1.1vw;
}

.tree-crown {
    z-index: 1;
    position: absolute;
    right: 50%;
    bottom: 0%;
    height: 85%;
    transform: translateX(110%) translateY(22.5%) rotate(-65deg);
}